<!DOCTYPE html>
<html>

<head>
  <title>后台管理系统</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="container-fluid">
    <p>后台管理系统</p>
    <div>
        <a href="">
          <img src="/images/user.png" alt="">
        </a>     
        <div class="admin-name">
          <span>admin</span>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="index-body">
        <div><a href="/house">已确认房源</a></div>
        <div><a href="/nosure">未确认房源</a></div>
        <div><a href="">用户管理</a></div>  
    </div>   
  </div>
</body>

</html>